<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/01org/webapps-memory-game-older-kids" version="2.2.0" viewmodes="fullscreen">
    <tizen:application id="E4PRo70Ja6.MemoryGame" package="E4PRo70Ja6" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="icon.png"/>
    <name>MemoryGame</name>
    <tizen:setting screen-orientation="landscape"/>
</widget>
